nav {
  color: aliceblue;
  font-size: 40px;
  font-weight: bold;
  padding: .75em;
  padding-left: 2.5em;
  margin-bottom: 3em;
}


.bg {

  background-color:rgb(192, 192, 192);
}
/* background primary */
.bp {
background-color: rgb(49, 49, 50);

}
/* background secondary */
.bs {
  background-color: burlywood;
}
html {
  background-color: rgb(192, 192, 192);
}

form div {
  margin-right: 1em
}


.btn { border-radius: 0%;}

.white {
  color:aliceblue
}

.sticky {
  position: sticky;
  top: 0;
}